
.listContainer {
    display: "block";
    width: 100%;
    height: 600px;
    white-space: nowrap;
    border: 0;
    background-color: transparent;
    overflow: auto;
    margin-top: 30px;
}
  
.productItem {
    width: 300px;
    float: left;
    padding: 8px;
    background: transparent;
    border: 0;
    user-select: none;
}

.collectionImage {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.sectionHeading {
    cursor: pointer;
    display: flex;
}

.gridContainer {
    margin-top: 30px;
    margin-left: 20px;
}
