
.listContainer {
    display: "block";
    width: 100%;
    max-width: 1300px;
    height: 600px;
    white-space: nowrap;
    border: 0;
    background-color: transparent;
    overflow: auto;
    margin-top: 30px;
}

.productContainer {
    width: 150px;
    height: 150px;
}

.productDescription {
    
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin-top: 5px;
}
  
.productItem {
    float: left;
    padding: 8px;
    background: transparent;
    border: 0;
    user-select: none;
}

.productImage {
    height: 130px;
    width: 100%;
}

.collectionImage {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.sectionHeading {
    cursor: pointer;
    display: flex;
}

.gridContainer {
    margin-top: 30px;
    margin-left: 20px;
}
